@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100%;
}

@layer base {
  body {
    @apply bg-neutral7 min-h-screen no-scroll;
  }
}

@layer components {
  .no-scroll::-webkit-scrollbar {
    width: 0;
  }
}
